:root {
  --color-dark: #24292E;
  --color-white: #FFF;
  --color-link: #0366d6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  color: var(--color-dark);
}

/* Navbar Styles */

.nav {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0 30px;
  display: flex;
  align-items: center;
  width: 100vw;
}

.nav__menu {
  background: none;
  border: none;
  color: var(--color-white);
}

.nav__logo img {
  width: 35px;
}

.nav__items {
  align-items: center;
}

.nav__item a {
  color: var(--color-white);
  margin-right: 15px;
  text-decoration: none;
  font-weight: 600;
}

.nav__item:hover {
  opacity: .7;
}

.search {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, .5);
  position: relative;
  margin: 0 20px;
}

.search input {
  background: none;
  border: none;
  outline: none;
  padding: 8px 12px;
  min-width: 280px;
  color: var(--color-white);
}

.search::after {
  content: '/';
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border: 1px solid rgba(255, 255, 255, .5);
  font-size: .8rem;
  padding: 0px 8px 3px;
  right: 6px;
}

.nav__actions {
  margin-left: auto;
  align-items: center;
}

.badge {
  position: relative;
}

.badge::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(#54a3ff,#006eed);
  right: -5px;
  top: -5px;
}

.dropdown {
  align-items: center;
  font-size: .8rem;
}

.dropdown img {
  margin: 0 5px 0 20px;
}

@media only screen and (max-width: 768px) {
  .nav.open {
    padding: 10px 30px;
  }
  
  .nav.open .nav__items {
    position: absolute;
    width: 100%;
    top: 39px;
    padding: 20px;
    left: 0;
    background-color: var(--color-dark);
    display: block;
  }

  .nav.open .nav__item:nth-of-type(1) {
    margin-bottom: 16px;
    width: 100%;
    margin-left: 0;
  }

  .nav.open .nav__item:not(:nth-of-type(1)) {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 8px 0;
  }

  .nav {
    padding: 10px 30px;
    justify-content: space-between;
  }

  .nav__items {
    display: none;
  }

  .nav__actions {
    margin-left: unset;
  }
}

@media only screen and (min-width: 768px) {
  .nav.open .nav__items {
    position: relative;
    padding: 0;
    top: unset;
    width: unset;
    display: flex;
  }

  .nav__items {
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav__item {
    font-size: .9rem;
  }
}

/* End of Navbar Styles */



/* Main container styles */

.main {
  margin-top: 30px;
}

.main__header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__header .tabs {
  margin-left: auto;
  display: flex;
}

.tab__item {
  display: flex;
  padding: 10px 15px;
  color: rgba(0, 0, 0, .8);
  font-size: .9rem;
}

.tab__item img {
  margin-right: 10px;
}

.tab__item--active {
  font-weight: 600;
  color: var(--color-dark);
  border-bottom: 2px solid #f9826c;
}

.content {
  margin-top: 20px;
}

.user {
  margin-top: -50px;
}

.user__profile {
  position: relative;
}

.user__profile img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.user__name {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 10px 0 0;
}

.user__account {
  color: rgba(0, 0, 0, .8);
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 10px;
}

.user__bio {
  font-size: .9rem;
  text-transform: capitalize;
  max-width: 200px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
}

.repo {

}

.repo__search {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  outline-color: rgba(3, 102, 214, .3);
}

.repo__overview {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, .1);
  padding: 10px 0;
  display: block;
  margin-top: 15px;
}

.repo__overview span {
  font-weight: 500;
}

/* End of Main container styles */