.container {
  width: 1366px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-none {
    display: none;
  }
}